body{
  	background-image: url('../resource/record_bg.png');
}

.video{
	position:absolute;
	top:110px;
	left:180px;
	z-index:0;
}

.cntdown{
	position:absolute;z-index:2;left:45%;top:40%;width:150px;height:150px;margin-left:-25px;margin-top:-25px;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;
}

.cntdown2{
	position:absolute;z-index:2;width:120px;height:120px;margin-left:-25px;margin-top:-25px;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;
	animation:move 0.6s ease forwards;
}

.cntdown3{
	position:absolute;z-index:2;width:120px;height:120px;margin-left:-25px;margin-top:-25px;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;
	animation:move2 0.6s ease forwards;
}

.mfont{
	width: 440px;
	padding: 30px;
	color: #fff;
	font-weight:bold;
	font-size:200px;
  	font-family:Arial,Sans-Serif;
}

.mfont2{
	width: 440px;
	padding: 30px;
	color: blue;
	font-weight:bold;
	font-size:150px;
  	font-family:Arial,Sans-Serif;
}

@keyframes move{
  0%{left:44%;top:40%}
  100%{top:40%;left:16%}
}
@keyframes move2{
  0%{top:40%;left:16%}
  100%{left:44%;top:40%}
}
