body{
  	background-image: url('../resource/result_bg.png');
}

.restart-pos{
	position:absolute;
	bottom:250px;
	left:700px;
}

.score{
	color:white;
  	font-family:Arial,Sans-Serif;
	font-size:.9em;
}
.scoresum{
	color:white;
  	font-family:Arial,Sans-Serif;
	font-size:1.2em;
	font-weight:bold;
}
.topnum{
	color:white;
  	font-family:Arial,Sans-Serif;
	font-size:.9em;
}
.topinfo{
	color:white;
  	font-family:Arial,Sans-Serif;
	font-size:.8em;
}
.toptitle{
	color:white;
	font-size:2em;
  	font-family:Arial,Sans-Serif;
	font-weight:bold;
}
